<main class="my-renegotiations">
	<div class="phone-screen">
		<header>
			<button class="back-button">
				<span class="icon">&lt;</span>
				
				<h1>renegociação</h1>
			</button>
		</header>

		<section class="content">
			<div class="not-found-wrapper">
				<div class="image-wrapper">
					<img [src]="imageUrl" alt="Error Icon Image" />
				</div>

				<span class="text">
					No momento, você não tem nenhuma renegociação ativa
				</span>
			</div>

			<div class="back-button-wrapper">
				<button routerLink="/">
					Ir para a tela inicial
				</button>
			</div>
		</section>
	</div>
</main>
