/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* Estilos para o corpo e HTML */
body, html {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #171717;
    font-family: Arial, sans-serif;
}

/* Estilos para a tela do telefone */
.super-app .phone-screen {
    width: 360px;
    height: 780px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilos para o cabeçalho */
.super-app header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #ff6600;
    padding: 20px 20px 40px 20px;
    border-radius: 20px 20px 0 0;
    color: white;
}

/* Estilos para o botão de voltar */
.super-app header .back-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    margin-right: 10px;
    cursor: pointer;
}

.super-app header .back-button .icon {
    font-size: 15px;
}

.super-app header .back-button h1 {
    margin-left: 15px;
    font-size: 12px;
}

/* Estilos para a mensagem de boas-vindas */
.super-app header .welcome-message {
    text-align: left;
    width: 100%;
    padding: 20px 0;
    color: #ffffff;
    font-size: 14px;
}

.super-app header .welcome-message p:first-child {
    margin-bottom: 30px;
}

/* Estilos para os botões de ação */
.super-app .super-app.action-buttons {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    margin-top: -20px;
    background-color: #fff;
}

.super-app .action-buttons, .super-app .navigation-buttons {
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.super-app .navigation-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Estilos para os botões de navegação */
.super-app .action-buttons button, .super-app .navigation-buttons button {
    padding: 10px;
    border-radius: 10px;
    flex: 1;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.super-app .action-buttons button {
    border: none;
    font-size: 12px;
    height: 80px;
    background-color: #ff6600;
    color: white;
}

.super-app .navigation-buttons button {
    background-color: #fff;
    border: 1px solid #cecece;
    color: grey;
    font-size: 12px;
    padding: 25px 20px;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 600;
}