/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* Estilos para o corpo e HTML */
body, html {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #171717;
    font-family: Arial, sans-serif;
}

/* Estilos para a tela do telefone */
.phone-screen {
    width: 360px;
    height: 780px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilos para o cabeçalho */
header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px;
    color: white;
}

/* Estilos para o botão de voltar */
.back-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    margin-right: 10px;
    cursor: pointer;
}

.back-button .icon {
    font-size: 15px;
}