<main class="super-app">
  <div class="phone-screen">
    <header>
      <button class="back-button">
        <span class="icon">&lt;</span>
        
        <h1>renegociação</h1>
      </button>

      <section class="welcome-message">
        <p>Olá, Marcos Felipe!</p>
        <p>Você não tem contratos disponíveis para renegociação ;)</p>
      </section>
    </header>

    <section class="action-buttons">
        <button>consulte boletos</button>
        <button>parcelas em atraso</button>
        <button>quite tudo</button>
    </section>

    <section class="navigation-buttons">
        <button routerLink="/new-renegotiations">
          <span class="text">nova renegociação</span>
          <span class="icon">&gt;</span>
        </button>

        <button routerLink="/my-renegotiations">
          <span class="text">minhas renegociações</span>
          <span class="icon">&gt;</span>
        </button>
    </section>
  </div>
</main>